.update-task-header {
  text-align: center;
}
.update-task-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 220px;
}

.container-buttons {
  justify-content: space-evenly;
}
