<h2 class="update-task-header" mat-dialog-title>{{description}}</h2>
<mat-dialog-content>
    <form
      class="update-task-form"
      [formGroup]="updateTaskForm"
      (ngSubmit)="save()"
      novalidate
    >
        <mat-form-field appearance="standard">
            <mat-label>New Task</mat-label>
            <input matInput readonly value={{name}}>
            
        </mat-form-field>

        <mat-checkbox
            class="example-margin"
            (change)="chengeCheckbox($event)"
            formControlName="completed"
        >
        </mat-checkbox>
    </form>

</mat-dialog-content>
<mat-dialog-actions class="container-buttons">
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>